/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2017, 11:29:23 PM
    Author     : linhdo
*/

.title{
    color:#F2DDF3;
    text-align: center;
    font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size:45px;
    font-style:italic;
    font-weight: bold;
    border:hidden; 
    border-bottom-right-radius: 200px;
    border-bottom-left-radius:200px;
    background-color:#4A38BD;
}
.form{
    border:groove;
    border-radius: 100px;
    background-color:#E4D275;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.form-group{margin-top: 15px;}
.error{
	display: block;
	color:red;
}